.el-btn {
  display: inline-block;
  width: 31rem;
  max-width: 100%;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.3rem;
  padding: 2rem 1rem;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.el-btn_wrapper {
  text-align: center;
}

@media (max-width: 599px) {
  .el-btn {
    width: 80vw;
  }
}