.ly-header {
  .ly-header_inner {
    max-width: 102.4rem;
    margin: 0 auto;
  }
}

.ly-cont {
  max-width: 102.4rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.ly-footer {
  background-color: rgba(51, 51, 51, 1);
  border-top: 1px solid #5f5f5f;
  .ly-footer_inner {
    text-align: center;
    padding: 3.2rem 0 3.1rem;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) { //タブレット用(600px～1024pxまで)
  .ly-header {
    .ly-header_inner {
      max-width: 70rem;
      margin: 0 auto;
    }
  }
  
  .ly-cont {
    max-width: 70rem;
    margin: 0 auto;
  }
}

@media (max-width: 599px) { //スマートフォン用(～599pxまで)
  .ly-header {
    .ly-header_inner {
      max-width: 50rem;
      margin: 0 auto;
      padding: 0 1rem;
    }
  }

  .ly-cont {
    margin: 0 auto;
  }
}
